<a href="https://colab.research.google.com/github/Advaith9/Advaith9/blob/Python_assignments/Copy_of_A10_exploring_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [ ]:
#@title Lists: An Introduction

Data Type
List Type

In [22]:
#@title 1.Creating an empty list
my_list = []
print (type(my_list))
print (len(my_list))

<class 'list'>
0

In [13]:
#@title 2.Creating a list with some elements
my_list = [1,2,3,4,5,6,7,8,9,10]
print(*my_list)
print(*my_list , sep = "\n")

1 2 3 4 5 6 7 8 9 10
1
2
3
4
5
6
7
8
9
10

In [19]:
#@title 3.Adding elements at the end
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.append(11)
print(*my_list)

1 2 3 4 5 6 7 8 9 10 11

In [40]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[4])
print(my_list[5])
print(my_list[6])
print(my_list[7])
print(my_list[8])
print(my_list[9])

1
2
3
4
5
6
7
8
9
10

In [41]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list[-1])
print(my_list[-2])
print(my_list[-3])
print(my_list[-4])
print(my_list[-5])
print(my_list[-6])
print(my_list[-7])
print(my_list[-8])
print(my_list[-9])
print(my_list[-10])

10
9
8
7
6
5
4
3
2
1

In [43]:
#@title 6.Adding an element at the front of the list
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.insert(0,100)
print(my_list)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
#@title 7.Adding an element anywhere (at a specific index) 
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.insert(5,100)
print(my_list)
my_list.insert(8,100)
print(my_list)

[1, 2, 3, 4, 5, 100, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 6, 7, 100, 8, 9, 10]

In [49]:
#@title 8.Updating (or Replacing) an element
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list[2])
my_list[2] = 55
print(my_list[2])
print(my_list)

3
55
[1, 2, 55, 4, 5, 6, 7, 8, 9, 10]

In [50]:
#@title 9.Looping through the list (just for READING)
my_list = [1,2,3,4,5,6,7,8,9,10]
for x in my_list:
  print(x)

1
2
3
4
5
6
7
8
9
10

In [70]:
#@title 10.Looping through the list (for UPDATING)
my_list = [1,2,3,4,5,6,7,8,9,10]

for i in range(0,1):
    my_list[i] = my_list[i] + 2
    print(my_list)

[3, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#@title 11.Common Operations: Find the length of the list
# Find the number of elements in the list

In [ ]:
#@title 12.Common Operations: Find the maximum in the list

In [ ]:
#@title 13.Common Operations: Find the minimum in the list

In [ ]:
#@title 14.Common Operations: Find the sum of elements in the list

In [ ]:
#@title 14.Removing an element by value

In [ ]:
#@title 15.Removing the last element in the list

In [ ]:
#@title 16.Removing an element at a given index

In [ ]:
#@title 17.Extending a list
#(Adding several elements to one list)

In [ ]:
#@title 18.Search for an element. What is the index?

In [ ]:
#@title 19.Count the number of times an element is appearing

In [ ]:
#@title 20.Checking for Membership (in)

54.3 ns ± 5.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
#@title 21.Checking for Membership (not in)

In [ ]:
#@title 22.Reverse a list

In [ ]:
#@title 23.Sort a list

In [ ]:
#@title 24.Copy a list (Caution: Don't reassign)

In [ ]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list

In [ ]:
#@title 26.Delete the entire list

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists